[Unit]
Description=Minecraft Server
After=network-online.target

[Service]
User=mc-server
Group=mc-server
TimeoutStopSec=120
WorkingDirectory=/home/mc-server/mc
ExecStart=/usr/bin/screen -Dm -S mc /home/mc-server/mc/start.sh

ExecStop=/usr/bin/screen -S mc -X stuff "save-all\015"
ExecStop=/usr/bin/screen -S mc -X stuff "say サーバーがまもなく停止されます"
ExecStop=/usr/bin/screen -S mc -X stuff "stop\015"
Restart=always

[Install]
WantedBy=multi-user.target